/* hamburger changes to X */

.nav-wrapper {
  width: 50px;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  background-color: #FAF9F5;
  cursor: pointer;
  padding: 10px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.nav-bar {
  width: 35px;
  height: 3px;
  background-color: #242020;
  transition: all .4s ease-in-out;
  position: absolute;
}

.nav-bar::before,
.nav-bar::after {
  content: '';
  width: 35px;
  height: 3px;
  background-color: #242020;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all .4s ease-in-out;
}

.nav-bar::before {
transform: translateY(10px);
}
.nav-bar::after {
transform: translateY(-10px);
} 
 .nav-wrapper-open .nav-bar {
  transform: translateX(-50px);
  background-color: transparent;
 }

 .nav-wrapper-open .nav-bar::before {
  transform: rotate(45deg) translate(30px, -30px);
 }
 .nav-wrapper-open .nav-bar::after {
  transform: rotate(-45deg) translate(30px, 30px);
 }


/* display menu */

 .nav-menu {
display: none;
width: 60vw;
height: auto;
background-color: #FAF9F5;
padding: 80px 50px;
border: 1px solid grey;
position: absolute;
top: 0;
right: 0;
margin: auto;
z-index: 0;
transition: all .4s ease-in-out;
 }

 .nav-menu-items {
display: flex;
flex-direction: column;
align-items: start;
 }
